.contract-property {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 2px $light solid;

	& .property-value {
		font-weight: 600;
		white-space: nowrap;
	}
}

.contract-list {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 18px;
	column-gap: 36px;
	padding: 24px 14px 24px 36px;
	background-color: $body-bg;
	list-style-type: none;

	@include media-breakpoint-up(md) {
		grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
	}

	@include media-breakpoint-up(xl) {
		grid-template-columns: 1fr;
	}

	&>div {
		display: flex;
		flex-direction: column;
		row-gap: 18px;
	}

	& li {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: start;

		&::before {
			content: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 3.16103L1.17907 2.02009L3.95884 4.71569L8.82093 0L10 1.14337L3.95884 7L0 3.16103Z' fill='%23FCE301'/%3E%3C/svg%3E");
			position: absolute;
			top: -1px;
			left: -22px;
		}
	}
}
