.top-header {
    height: 74px;
}

.logo {
    max-width: 300px !important;
    background-color: $dark-grey;
    height: 100%;
    vertical-align: middle;
    position: relative;

    img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-left: 35px;
    }
}

.top-header-bottom {
    border-color: $light-grey !important;
}

.top-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-grey;
    border-radius: 100%;
    width: 42px;
    height: 42px;
}

@include media-breakpoint-down(xl) {
    .top-greetings-main-left-col {
        display: none;
    }

    .top-greetings-main-right-col {
        display: none;
    }

    .logo {
        margin: auto;
        background-color: unset;

        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}
