.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 74px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.top-header-bottom {
    border-color: $light-grey !important;
}

#notifications {
    width: 42px;
}

.top-notifications {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-grey;
    border-radius: 100%;
    width: 42px;
    height: 42px;
}

.notifications__number {
    position: absolute;
    top: -3px;
    right: 24px;
    min-width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: $primary;
    box-shadow: 0px 0px 12px rgba(252, 227, 1, 0.5);
    color: $body-bg;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    vertical-align: baseline;
}

.notifications__modal {
    position: absolute;
	right: -24px;
	left: unset;
	top: 59px;
	height: calc(100vh - 75px);
	z-index: 2;
	padding: 20px;
	width: 100vw;
	background: #202022;
	border-bottom: 2px solid rgba(252, 227, 1, 0.5);

    @include media-breakpoint-up(md) {
        top: 80px;
		left: unset;
        right: 10px;
        width: 414px;
		height: auto;
        border: 2px solid rgba(252, 227, 1, 0.5);
    }
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 14px;
    margin-bottom: 20px;
    border-bottom: 2px solid $light-grey;
}

.modal__body {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-height: calc(100% - 66px);
    overflow: auto;

    @include media-breakpoint-up(md) {
        max-height: 466px;
    }
}

.notification {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 14px;
    background: $body-bg;

    &__heading {
        font-weight: 700;
        font-size: 14px;
        line-height: 140%;
        text-align: left;
    }

    &__text {
        font-size: 14px;
        line-height: 140%;
        color: $light-grey;
        text-align: left;
    }
}
