.contract-property {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 2px $light solid;

	& .property-value {
		font-weight: 600;
		white-space: nowrap;
	}
}

.contract-list {
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 18px;
	column-gap: 36px;
	padding: 24px 14px 24px 36px;
	background-color: $body-bg;
	list-style-type: none;

	@include media-breakpoint-up(md) {
		grid-template-columns: 1fr 1fr;
	}

	@include media-breakpoint-up(xl) {
		grid-template-columns: 1fr;
	}

	&>div {
		display: flex;
		flex-direction: column;
		row-gap: 18px;
	}

	& li {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: calc(50% - 1px);
			left: -22px;
			height: 2px;
			width: 16px;
			background-color: $primary;
		}
	}
}
