:root {
	--slider-connect-bg: #ffffff;
	--slider-bg: #737373;
	--slider-connect-bg-disabled: #737373;
	--slider-height: 3px;
	--slider-radius: 0px;


	--slider-handle-bg: #FCE301;
	--slider-handle-border: 0;
	--slider-handle-width: 14px;
	--slider-handle-height: 14px;
	--slider-handle-radius: 9999px;
	--slider-handle-shadow: 0px 0px 12px rgba(252, 227, 1, 0.5);
	--slider-handle-shadow-active: 0px 0px 12px rgba(252, 227, 1, 0.5);
	--slider-handle-ring-width: 0px;
	--slider-handle-ring-color: #10B98130;
}


.tariffs-wrap {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 14px;
	overflow-x: auto;

	@include media-breakpoint-up(md) {
		column-gap: 26px;
	}

	@include media-breakpoint-up(lg) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		column-gap: 30px;
		row-gap: 30px;
	}	

	@include media-breakpoint-up(xl) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}	

	& .tariff {
		min-width: 80%;
		flex-shrink: 0;

		@include media-breakpoint-up(sm) {
			min-width: 60%;
		}

		@include media-breakpoint-up(md) {
			min-width: 50%;
		}

		@include media-breakpoint-up(lg) {
			min-width: auto;
		}

		&.tariff-disabled {
			display: none;
		}
	}
}
