$utilities: (
	"width": (
      property: width,
	  responsive: true,
      class: w,
      values: (
        25: 25%,
		33: 33.3%,
		48: 48%,
        50: 50%,
		66: 66.6%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
	"viewport-height": (
      property: height,
      class: vh,
      values: (
		70: 70vh,
		100: 100vh
		)
    ),
	"font-size": (
      rfs: true,
      property: font-size,
	  responsive: true,
      class: fs,
      values: $font-sizes
    ),

);    
